ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {

    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #F9FAF8;
    box-sizing: border-box;
    /* width: 100%; */
    flex-wrap: wrap;
}


.header-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;


}


#header-logo {
    font-weight: bolder;
    font-size: 48px;
    display: flex;
    align-items: center;
    gap: 8px;


}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {

    font-size: 18px;
    color: #F9FAF8;

}

.header-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

img .rightPart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;



}

#section-1-container-1 {
    font-size: 48px;
    font-weight: bolder;
    width: 550px;
    margin: 0;

}

#section-1-container-2 {


    width: 550px;
}


#section-1-container-3 {


    background-color: #3882f6;
    border: none;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: bolder;

}

#section-1-container-3:hover {
    background-color: #04AA6D;

}

#section6 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;



}



.body-1-container-2 {
    display: flex;
    gap: 52px;



}

#body-1-container-6 {
    display: flex;
    margin-top: 50px;

}


#body-1-container-3 {
    color: black;
    font-size: 18px;
    max-width: 200px;

}


#body-1-container-3 img {
    padding: 40px 60px;

    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    font-weight: bolder;

}



#body-1-container-1 {
    color: black;

    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 50px;

}

#quote {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    background-color: #E5E7EB;
    height: 200px;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#quote p {
    max-width: 700px;


}


#quote1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;


}

.head1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 0;
    height: 150px;
    padding: 40px;
}

#box {
    border: 2px solid blue;
    border-radius: 20px;
    max-width: 2100px;
    padding: 50px;
    display: flex;
    gap: 30px;
    background: #3882f6;
}

.head1Right {
    display: flex;
    color: black;
    font-size: 18px;
    flex-direction: column;
    gap: 0;
    padding: 0;


}

#head1p {
    font-size: 22px;
    font-weight: bolder;
    margin: 0;

}

#head1pp {
    margin: 0;
}

#head1Left {
    display: flex;
    margin: 0;
}

#head1Left button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bolder;
}

#head1Left button:hover {
    background-color: #04AA6D;
}

footer {
    text-align: center;

}